@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-900;
}

body {
  @apply text-slate-300 bg-gradient-to-b from-slate-900 to-slate-800;
}

header {
  @apply bg-slate-900 sticky top-0;
}

footer {
  @apply bg-slate-900;
}

.container {
  @apply px-5;
}

.section-heading {
  @apply font-medium text-4xl text-slate-100;
}

.card {
  @apply bg-gradient-to-br from-slate-700 to-slate-800 flex flex-col flex-shrink-0 rounded-lg overflow-hidden shadow;
}

.interactive {
  @apply transition-all duration-200 ease-linear;
}

.interactive:hover {
  @apply brightness-110;
}

.interactive:active {
  @apply brightness-90;
}

a,
button {
  @apply interactive;
}

.tag {
  @apply bg-slate-600 px-2 py-1 rounded flex-shrink-0 my-1;
}

.white-strong strong {
  @apply text-slate-100;
}

.scrollbar-hidden {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scrollbar-hidden::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
